body {
  height: auto;
  width: 100%;
  margin: auto;
}

.menu_top {
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  z-index: 9;
}

.menu_top ul {
  margin: 0px;
  padding: 0px;
}

.menu_top li {
  list-style: none;
  float: left;
  height: 50px;
  line-height: 50px;
  color: white;
  padding: 0px 20px 0px 20px;

}

#account {
  list-style: none;
  float: right;
  color: white;
  margin-right: 5px;

}
#menuTopCart{
  padding: 0px;
  float: right;
  color: white;
  font-size: 26px;
}
#menuTopDem{
  list-style: none;
  float: right;
  color: white;
  margin-right: 5px;
  font-size: 26px;
  padding-left: 10px;
}
.chen{
  height: 50px;
}
#account i {
  font-size: 30px;
  margin-top: 10px;
}

.baner {
  width: 100%;
  height: 500px;
  background-image: url(https://scontent-hkg3-2.xx.fbcdn.net/v/t1.15752-9/s2048x2048/80673844_3058626950865033_8187647463767670784_n.jpg?_nc_cat=110&_nc_ohc=qOQQjoVma68AQlYoAxL46uHNapI91z-vD0j9Ja59nudsk-whGnuyHL3QA&_nc_ht=scontent-hkg3-2.xx&oh=4b8b2af4ead217af732eb80a280cf213&oe=5E76CC06);
  /* background-image: url(https://scontent.fhan5-7.fna.fbcdn.net/v/t1.15752-9/81662667_603590483729323_2634298489986613248_n.png?_nc_cat=103&_nc_ohc=x-Z6nJU4DCsAQnjjX_ulN-ds-Gs7c-z1d4x9cvIUBZgG2xBqnh63wnsPQ&_nc_ht=scontent.fhan5-7.fna&oh=f8c6a8096bf5e1b1ae695749b8abe662&oe=5EA96B8F); */
  /* background-image: url(./banner.png); */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-blur {
  background-color: rgba(1, 1, 1, 0.3);
}


.clock{
  font-family: sans-serif;
  bottom:0px;

  
}
.heading {
  color:white;
  font-size: 150px;
}

body {
  height: 100%;
  width: 100%;
}
/* 
body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }  */
/* 
.clock {
  height: 500px;
  line-height: 651px;
  color: white;
  font-size: 22vh;
  font-family: sans-serif;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  z-index: 1; */

  /* background-color: rgba(27,67,87, 0.5); */
/* } */

/* .background-clock {
    position: absolute;
    background: rgba(1,1,1,0.3);
    width: 100%;
    margin-top: 189px;
    top: 67%;
    height: 30%;
    margin: -15% 0 0 0;
} */

.end {
  text-align: center;
  height: 100px;
  line-height: 100px;
  background-color: #FFC400;
  font-family:'Lobster' ;
  font-size: larger;
}
.end p{
  font-size: 50px;
  color: aliceblue;
  -webkit-text-stroke: 1px black;
}

.left {
  width: 50%;
  background-color:#FFC400;
  float: left;
  height: 700px;
  text-align: center;
}


.left img {
  margin-left: 63px;
  margin-top: 50px;
  /* border-radius: 3%; */
  width: 79%;
}

.right {
  width: 50%;
  background-color:#FFC400;
  float: right;
  height: 700px;

}

.name-restaurant {
  font-size: 32px;
  color: #464646;
  font-weight: 700;
  margin-top: 62px;
  margin-left: 20px;
  text-transform: capitalize;
 
}
.address-restaurant i{
  color: red;
  font-size: 25px;
}
.address-restaurant{
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px; 
  text-transform: capitalize; 
}
.cost-restaurant{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 36px;
  font-family: auto;
  font-weight: 550;
}
.order-restaurant p{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1px;
  font-size: 24px;
  color: red;
  text-decoration: none;
  margin-left: 29px;
  margin-top: 2px;
}
.order-restaurant img{
  margin-left: 30px;
}
.rate{
  margin-left: 21px;
}
.star{
  font-size: 14px;
  display: inline-block;
}
.full{
  font-size: 14px;
  color:white;
  font-size: 30px;
}
.video
{
  text-align: center;
  margin-top: 33px;
}
.ranDombutton
{
  margin-left: 38px;
  margin-top: 37px;
}
}